<div class="row">
    <div class="col-sm-6">
        <nb-card accent="info" class="shadow-lg">
            <nb-card-header>
                <h5>Atividades e Materiais</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item>
                        <div class="d-flex">
                            <h1>
                                <nb-actions size="small">
                                    <nb-action icon="edit-2-outline"></nb-action>
                                </nb-actions>
                            </h1>
                            <div>
                                <small class="badge badge-primary">Exercício</small>
                                <h6>Testando</h6>
                                <p>teste</p>
                            </div>
                            <div class="ml-auto d-flex">

                                <div>
                                    <small>5 de Agosto de 2020</small>
                                    <h6>Prof. Iran Pontes</h6>
                                </div>
                            </div>
                        </div>
                    </nb-list-item>
                    <nb-list-item>
                        <div class="d-flex">
                            <h1>
                                <nb-actions size="small">
                                    <nb-action icon="edit-2-outline"></nb-action>
                                </nb-actions>
                            </h1>
                            <div>
                                <small class="badge badge-primary">Exercício</small>
                                <h6>Testando</h6>
                                <p>teste</p>
                            </div>
                            <div class="ml-auto d-flex">

                                <div>
                                    <small>5 de Agosto de 2020</small>
                                    <h6>Prof. Iran Pontes</h6>
                                </div>
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>