@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    //padding-top: nb-theme(layout-padding-top);
  }
}

.header-title {
    background-color:nb-theme(color-info-500);
}