<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Cadastrar Turma</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="" *ngIf="form">
            <div class="form-group row">
                <label for="nome" class="label col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="nome" placeholder="Nome" formControlName="nome">
                </div>
            </div>

            <div class="form-group row">
                <label for="grupo" class="label col-sm-2 col-form-label">Grupo</label>
                <div class="col-sm-10">
                    <nb-select placeholder="Select Showcase" id="grupo" formControlName="grupo"
                        placeholder="Grupo">
                        <nb-option value="">Selecione uma Serie</nb-option>
                        <nb-option value="Educação Infantil">Educação Infantil</nb-option>
                        <nb-option value="Ensino Fundamental 1">Ensino Fundamental 1</nb-option>
                        <nb-option value="Ensino Fundamental 2">Ensino Fundamental 2</nb-option>
                        <nb-option value="Ensino Médio">Ensino Médio</nb-option>
                        <nb-option value="Pré-Vestibular">Pré-Vestibular</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row">
                <label for="serie" class="label col-sm-2 col-form-label">Serie</label>
                <div class="col-sm-10">
                    <input type="number" nbInput id="serie" placeholder="Serie" formControlName="serie">
                </div>
            </div>

            <div class="form-group row">
                <label for="coordenador" class="label col-sm-2 col-form-label">Coordenador</label>
                <div class="col-sm-10">
                    <nb-select placeholder="Select Showcase" id="coordenador" formControlName="coordenador"
                        placeholder="Coordenador">
                        <nb-option *ngFor="let o of options" [value]="o.id">
                            {{ o.nome }}</nb-option>
                    </nb-select>
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>