<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Criar Simulado</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="">
            
            <div class="form-group row">
                <label for="titulo" class="label col-sm-2 col-form-label">Título</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="titulo" placeholder="Título"
                        formControlName="titulo">
                </div>
            </div>
            <div class="form-group row">
                <label for="descricao" class="label col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="descricao" placeholder="Descrição"
                        formControlName="descricao">
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo" class="label col-sm-2 col-form-label">Tipo</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="tipo" placeholder="Tipo"
                        formControlName="tipo">
                </div>
            </div>
            <div formArrayName="questoes" class="form-group row">
                <label for="questao" class="label col-sm-2 col-form-label">
                    Questões:</label>

                <div class="col-sm-10">
                    <div *ngFor="let item of questoes.controls; let i=index" [formGroupName]="i"
                        class="row mb-2">
                        <div class="col-sm-10">
                            <div class="row">
                                <input type="text" nbInput fullWidth id="enunciado" placeholder="Enunciado"
                                formControlName="enunciado">
                            </div>
                            <div class="row">
                                <input type="number" min="1" max="10" nbInput fullWidth id="pontos" placeholder="Pontos"
                                formControlName="pontos">
                            </div>
                            <div class="row">
                                <nb-checkbox id="isMultiplaEscolha" formControlName="isMultiplaEscolha" (checkedChange)="toggle($event)">É de mutipla escolha?</nb-checkbox>
                            </div>
                            <div formArrayName="alternativas" class="form-group row">
                                <div class="row">
                                    <input type="text" nbInput fullWidth id="texto" placeholder="Resposta"
                                    formControlName="texto">
                                    <nb-checkbox id="isResposta" formControlName="isResposta" (checkedChange)="toggle($event)">Essa é a resposta certa?</nb-checkbox>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" nbButton status="primary" (click)="deleteQuestoes(i)">
                                <nb-icon icon="minus-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row">


                <div class="offset-sm-2 col-sm-10 mb-4">
                    <button type="button" nbButton status="primary" (click)=" addQuestoes();addAlternativas()">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                </div>

                <div class="offset-sm-2 col-sm-10 mb-4">
                    <nb-card>
                        <nb-card-header>
                            <h1 class="h5">Prazo: {{ data | date }}</h1>
                        </nb-card-header>
                        <nb-card-body>
                            <nb-calendar-range [(range)]="range"></nb-calendar-range>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" (click)="Adicionar()" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>