<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Criar atividade</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>



        <form [formGroup]="form" (ngSubmit)="submit()" action="">

            <div class="form-group row">
                <label for="titulo" class="label col-sm-2 col-form-label">Título</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="titulo" placeholder="Título" formControlName="titulo">
                </div>
            </div>
            <div class="form-group row">
                <label for="descricao" class="label col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="descricao" placeholder="Descrição"
                        formControlName="descricao">
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo" class="label col-sm-2 col-form-label">Tipo</label>
                <div class="col-sm-10">
                    <nb-select fullWidth id="tipo" placeholder="Selecione um Tipo" [(selected)]="selectedItem"
                        formControlName="tipo">
                        <nb-option value="Exercicio">Exercício</nb-option>
                        <nb-option value="Prova">Prova</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="prazo" class="label col-sm-2 col-form-label">Prazo</label>
                <div class="col-sm-10 d-flex">
                    <div class="mr-2">
                        <input nbInput id="prazoInicial" placeholder="Prazo Inicial" formControlName="prazoInicial"
                            [nbDatepicker]="formpicker">
                        <nb-datepicker #formpicker></nb-datepicker>
                    </div>
                    <div>
                        <input nbInput id="prazoFinal" placeholder="Prazo Final" formControlName="prazoFinal"
                            [nbDatepicker]="formpicker2">
                        <nb-datepicker #formpicker2></nb-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="disciplina" class="label col-sm-2 col-form-label">Disciplina</label>
                <div class="col-sm-10 d-flex">
                    <nb-select placeholder="Selecione a disciplina" id="disciplina" formControlName="disciplina">
                        <nb-option *ngFor="let disciplina of disciplinas" [value]="disciplina.idProfessorDisciplina">
                            {{disciplina.nome}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row">
                <label for="turmas" class="label col-sm-2 col-form-label">Turmas</label>
                <div class="col-sm-10 d-flex">
                    <nb-select multiple placeholder="Selecione as turmas" id="turmas" formControlName="turmas"
                        (selectedChange)="filterDisciplinas($event)">
                        <nb-option *ngFor="let turma of turmasFiltered" [value]="turma.id">{{turma.nome}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div formArrayName="questoes" class="form-group row">
                <label for="questao" class="label col-sm-2 col-form-label">
                    Questões:</label>

                <div class="col-sm-10">


                    <nb-accordion>
                        <nb-accordion-item *ngFor="let item of questoes.controls; let i=index" [formGroupName]="i">
                            <nb-accordion-item-header>
                                <div>Questão {{i+1}}</div>
                                <button type="button" class="ml-auto mr-5" nbButton status="danger"
                                    (click)="deleteQuestoes(i)" size="tiny">
                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                </button>
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>


                                <div class="form-group ">
                                    <textarea type="text" nbInput fullWidth id="enunciado" placeholder="Enunciado"
                                        formControlName="enunciado"></textarea>

                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="number" min="1" max="10" nbInput fullWidth id="pontos"
                                            placeholder="Pontos" formControlName="pontos">
                                    </div>
                                    <div class="col-sm-6">
                                        <nb-checkbox id="isMultiplaEscolha" formControlName="isMultiplaEscolha">
                                            Tem
                                            alternativas?</nb-checkbox>
                                    </div>
                                </div>


                                <nb-card *ngIf="item.get('isMultiplaEscolha').value" formArrayName="alternativas">
                                    <nb-card-header>
                                        <h6 class="subtitle">Alternativas</h6>
                                    </nb-card-header>
                                    <nb-card-body>
                                        <nb-card
                                            *ngFor="let alternativa of item.get('alternativas').controls; let j=index"
                                            accent="info">
                                            <nb-card-header class="d-flex">
                                                <div class="subtitle">Resposta {{j+1}}</div>

                                                <button type="button" nbButton status="danger" class="ml-auto"
                                                    (click)="deleteAlternativa(item.controls.alternativas, j)"
                                                    size="tiny">
                                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                                </button>

                                            </nb-card-header>
                                            <nb-card-body [formGroupName]="j">
                                                <div class="form-group">
                                                    <input type="text" nbInput fullWidth placeholder="Resposta {{j+1}}"
                                                        formControlName="texto">
                                                </div>
                                                <nb-checkbox formControlName="isResposta">Esta é a resposta
                                                    certa?
                                                </nb-checkbox>

                                            </nb-card-body>
                                        </nb-card>

                                        <div class="text-center">
                                            <button nbButton status="info" size="small" status="primary" type="button"
                                                (click)="addAlternativa(item.controls.alternativas)">
                                                <nb-icon icon="plus-outline"></nb-icon> Adicionar alternativa
                                            </button>
                                        </div>
                                    </nb-card-body>
                                </nb-card>

                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
                </div>

            </div>
            <div class="form-group row">


                <div class="offset-sm-2 col-sm-10 mb-4">
                    <button type="button" nbButton status="info" size="small" (click)=" addQuestoes()">
                        <nb-icon icon="plus-outline"></nb-icon> Adicionar questão
                    </button>
                </div>


                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" (click)="Adicionar()" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>