.cdk-drag-preview {
//   box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
              background-color: white;
              padding: 1.25rem;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.questao-placeholder {
  background: rgb(255, 246, 246);
  border: dotted 3px #ddd;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.alternativa-placeholder {
  background: rgb(255, 246, 246);
  border: dotted 3px #ddd;
  min-height: 100px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}