<div *ngIf="form">
    <h1 id="title" class="title">Cadastre-se</h1>
    <div class="subtitle text-center">
        Informe seus dados e uma senha para acessar a plataforma
    </div>
    <br>
    <br>
</div>

<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert> -->

<!-- <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert> -->
<!-- <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-body>
        Carregando
    </nb-card-body>
</nb-card> -->
<form (ngSubmit)="submit()" [formGroup]="form" aria-labelledby="title" *ngIf="form">

    <div class="form-control-group">
        <label class="label" for="input-name">Nome:</label>
        <input nbInput formControlName="nome" id="input-name" name="fullName" placeholder="Nome" autofocus fullWidth
            disabled>

    </div>

    <div class="form-control-group">
        <label class="label" for="input-email">Email:</label>
        <input nbInput formControlName="email" id="input-email" name="email" pattern=".+@.+..+" placeholder="Seu e-mail"
            fullWidth disabled>


    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Senha:</label>
        <input nbInput formControlName="password" type="password" id="input-password" name="password"
            placeholder="Senha" fullWidth>

    </div>

    <div class="form-control-group">
        <label class="label" for="input-re-password">Repetir senha:</label>
        <input nbInput formControlName="passwordConfirm" type="password" id="input-re-password" name="rePass"
            placeholder="Repetir senha" fullWidth>

    </div>

    <!-- <div class="form-control-group accept-group">
        <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
            Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
        </nb-checkbox>
    </div> -->

    <button nbButton fullWidth status="primary" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        Cadastrar
    </button>
</form>

<nb-card accent="danger" *ngIf="isLoading || erro" [nbSpinner]="isLoading" nbSpinnerStatus="danger"
    nbSpinnerSize="large" nbSpinnerMessage="Validando acesso">
    <nb-card-body class="text-center">
        {{erro}}
    </nb-card-body>
</nb-card>


<section class="another-action" aria-label="Sign in">
    Tem uma conta? <a class="text-link" routerLink="auth/login">Faça o login</a>
</section>