// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #cfedf8,
    color-primary-200: #a2d8f2,
    color-primary-300: #6eb0d8,
    color-primary-400: #4483b1,
    color-primary-500: #174d7e,
    color-primary-600: #103c6c,
    color-primary-700: #0b2c5a,
    color-primary-800: #071f49,
    color-primary-900: #04163c,
    color-primary-transparent-100: rgba(23, 77, 126, 0.08),
    color-primary-transparent-200: rgba(23, 77, 126, 0.16),
    color-primary-transparent-300: rgba(23, 77, 126, 0.24),
    color-primary-transparent-400: rgba(23, 77, 126, 0.32),
    color-primary-transparent-500: rgba(23, 77, 126, 0.4),
    color-primary-transparent-600: rgba(23, 77, 126, 0.48),
    color-success-100: #ccf8cb,
    color-success-200: #9af2a1,
    color-success-300: #62d878,
    color-success-400: #39b25b,
    color-success-500: #0c7f38,
    color-success-600: #086d39,
    color-success-700: #065b37,
    color-success-800: #034933,
    color-success-900: #023c30,
    color-success-transparent-100: rgba(12, 127, 56, 0.08),
    color-success-transparent-200: rgba(12, 127, 56, 0.16),
    color-success-transparent-300: rgba(12, 127, 56, 0.24),
    color-success-transparent-400: rgba(12, 127, 56, 0.32),
    color-success-transparent-500: rgba(12, 127, 56, 0.4),
    color-success-transparent-600: rgba(12, 127, 56, 0.48),
    color-info-100: #c7f1f9,
    color-info-200: #92def4,
    color-info-300: #59b9df,
    color-info-400: #308ec0,
    color-info-500: #005a96,
    color-info-600: #004581,
    color-info-700: #00346c,
    color-info-800: #002457,
    color-info-900: #001a48,
    color-info-transparent-100: rgba(0, 90, 150, 0.08),
    color-info-transparent-200: rgba(0, 90, 150, 0.16),
    color-info-transparent-300: rgba(0, 90, 150, 0.24),
    color-info-transparent-400: rgba(0, 90, 150, 0.32),
    color-info-transparent-500: rgba(0, 90, 150, 0.4),
    color-info-transparent-600: rgba(0, 90, 150, 0.48),
    color-warning-100: #fef0cb,
    color-warning-200: #fddc98,
    color-warning-300: #f9c265,
    color-warning-400: #f4a73e,
    color-warning-500: #ed7f02,
    color-warning-600: #cb6301,
    color-warning-700: #aa4b01,
    color-warning-800: #893600,
    color-warning-900: #712700,
    color-warning-transparent-100: rgba(237, 127, 2, 0.08),
    color-warning-transparent-200: rgba(237, 127, 2, 0.16),
    color-warning-transparent-300: rgba(237, 127, 2, 0.24),
    color-warning-transparent-400: rgba(237, 127, 2, 0.32),
    color-warning-transparent-500: rgba(237, 127, 2, 0.4),
    color-warning-transparent-600: rgba(237, 127, 2, 0.48),
    color-danger-100: #fadbcf,
    color-danger-200: #f5b1a2,
    color-danger-300: #e17a6e,
    color-danger-400: #c34847,
    color-danger-500: #9b1823,
    color-danger-600: #851125,
    color-danger-700: #6f0c26,
    color-danger-800: #590724,
    color-danger-900: #4a0423,
    color-danger-transparent-100: rgba(155, 24, 35, 0.08),
    color-danger-transparent-200: rgba(155, 24, 35, 0.16),
    color-danger-transparent-300: rgba(155, 24, 35, 0.24),
    color-danger-transparent-400: rgba(155, 24, 35, 0.32),
    color-danger-transparent-500: rgba(155, 24, 35, 0.4),
    color-danger-transparent-600: rgba(155, 24, 35, 0.48),
  ),
  custom,
  default
);
