// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";
@import '~flatpickr/dist/flatpickr.css';

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #CCECF7,
  color-primary-200: #9DD6F0,
  color-primary-300: #65AAD2,
  color-primary-400: #3B79A6,
  color-primary-500: #0F406C,
  color-primary-600: #0A315C,
  color-primary-700: #07254D,
  color-primary-800: #041A3E,
  color-primary-900: #021233,
  color-primary-transparent-100: rgba(15, 64, 108, 0.08),
  color-primary-transparent-200: rgba(15, 64, 108, 0.16),
  color-primary-transparent-300: rgba(15, 64, 108, 0.24),
  color-primary-transparent-400: rgba(15, 64, 108, 0.32),
  color-primary-transparent-500: rgba(15, 64, 108, 0.4),
  color-primary-transparent-600: rgba(15, 64, 108, 0.48),
  color-success-100: #E4FBCE,
  color-success-200: #C3F89F,
  color-success-300: #97EC6D,
  color-success-400: #6CD947,
  color-success-500: #33c114,
  color-success-600: #1EA50E,
  color-success-700: #0D8A0A,
  color-success-800: #066F0B,
  color-success-900: #035C0E,
  color-success-transparent-100: rgba(51, 193, 20, 0.08),
  color-success-transparent-200: rgba(51, 193, 20, 0.16),
  color-success-transparent-300: rgba(51, 193, 20, 0.24),
  color-success-transparent-400: rgba(51, 193, 20, 0.32),
  color-success-transparent-500: rgba(51, 193, 20, 0.4),
  color-success-transparent-600: rgba(51, 193, 20, 0.48),
  color-info-100: #CFEFFB,
  color-info-200: #A2DBF7,
  color-info-300: #70BAE8,
  color-info-400: #4A97D2,
  color-info-500: #1969B5,
  color-info-600: #12519B,
  color-info-700: #0C3C82,
  color-info-800: #072A68,
  color-info-900: #041E56,
  color-info-transparent-100: rgba(25, 105, 181, 0.08),
  color-info-transparent-200: rgba(25, 105, 181, 0.16),
  color-info-transparent-300: rgba(25, 105, 181, 0.24),
  color-info-transparent-400: rgba(25, 105, 181, 0.32),
  color-info-transparent-500: rgba(25, 105, 181, 0.4),
  color-info-transparent-600: rgba(25, 105, 181, 0.48),
  color-warning-100: #FEF0CB,
  color-warning-200: #FDDD98,
  color-warning-300: #FBC464,
  color-warning-400: #F7AC3D,
  color-warning-500: #f28500,
  color-warning-600: #D06800,
  color-warning-700: #AE4F00,
  color-warning-800: #8C3A00,
  color-warning-900: #742A00,
  color-warning-transparent-100: rgba(242, 133, 0, 0.08),
  color-warning-transparent-200: rgba(242, 133, 0, 0.16),
  color-warning-transparent-300: rgba(242, 133, 0, 0.24),
  color-warning-transparent-400: rgba(242, 133, 0, 0.32),
  color-warning-transparent-500: rgba(242, 133, 0, 0.4),
  color-warning-transparent-600: rgba(242, 133, 0, 0.48),
  color-danger-100: #FCDECE,
  color-danger-200: #F9B79E,
  color-danger-300: #EF846B,
  color-danger-400: #DF5545,
  color-danger-500: #ca1411,
  color-danger-600: #AD0C17,
  color-danger-700: #91081D,
  color-danger-800: #750520,
  color-danger-900: #600321,
  color-danger-transparent-100: rgba(202, 20, 17, 0.08),
  color-danger-transparent-200: rgba(202, 20, 17, 0.16),
  color-danger-transparent-300: rgba(202, 20, 17, 0.24),
  color-danger-transparent-400: rgba(202, 20, 17, 0.32),
  color-danger-transparent-500: rgba(202, 20, 17, 0.4),
  color-danger-transparent-600: rgba(202, 20, 17, 0.48)
  ),
  custom,
  default
);
