<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Adicionar Aluno</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="">
            <div class="form-group row">
                <label for="nome" class="label col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="nome" placeholder="Nome"
                        formControlName="nome">
                </div>
            </div>
            <div class="form-group row">
                <label for="turma" class="label col-sm-2 col-form-label">Turma</label>
                <div class="col-sm-10">
                    <nb-select fullWidth id="turma" placeholder="Selecione uma Turma" [(selected)]="selectedItem" formControlName="turma">
                        <nb-option *ngFor="let n of ngrupo;" [value]="n[1]">
                            {{ n[0] }}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="cpf" class="label col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="cpf" placeholder="CPF"
                        formControlName="cpf" mask="000.000.000-00">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="label col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" nbInput fullWidth id="email" placeholder="E-mail"
                        formControlName="email">
                </div>
            </div>
            

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>