@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }


}

:host nb-tab {
  padding-left: 0;
  padding-right: 0;
}
